@import '../index.scss';

.nav-pills {

  text-align: right;

  .nav-link {
    display: inline-block;

    font-size: 1.2rem;
    margin-top: 5px;
    color: grey;
    transition: 0.15s ease-in-out;
    cursor: pointer;
    border-right: solid grey;
    border-radius: 0;
    border-width: 5px;
  }
  
  .nav-link:hover {
    border-width: 10px !important;
    color: white;
    border-right: solid $color-soft-red;
  }

  .nav-link.active {
    font-size: 1.3rem;
    border-width: 10px !important;
    font-weight: bold;
    border-right: solid $color-soft-red;
    background: none !important;
  }
}

ul {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.6em;
}

li{
  margin-bottom: 10px;
  font-size: 1.2rem;
}

ul li:before {
	content: "🔰";
	position: absolute;
	left: 0;
}

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
  .nav-pills {
    text-align: center;
    margin-bottom: 20px;
    flex-direction: row !important;

    justify-content: center !important;

    .nav-link {
      border-right: none !important;
      border-bottom: solid grey !important;
      border-radius: 0;
    }

    .nav-link:hover {
      border-width: 4px !important;
      color: white;
      border-right: solid $color-soft-red;
    }

    .nav-link.active {
      border-bottom: solid $color-soft-red !important;
      background: none !important;
      border-width: 4px !important;
    }
  }
}
