@import '../index.scss';

.o-project {
    border-radius: 17px;
    padding: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .o-project {
        margin-bottom: 40px;
    }
}

/* Small devices (768px and down) */
@media only screen and (max-width: 768px) {
    .o-project {
        margin-bottom: 40px;
    }
}

/* Medium devices (992px and down) */
@media only screen and (max-width: 992px) {
    .o-project {
        margin-bottom: 40px;
    }
}

/* Large devices (1200px and down) */
@media only screen and (max-width: 1200px) {
    .o-project {
        margin-bottom: 40px;
    }
}

/* Extra Large devices (1400px and down) */
@media only screen and (max-width: 1400px) {
    .o-project {
        margin-bottom: 40px;
    }
}