@import "bootstrap/dist/css/bootstrap.css";
@import "https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap";

$color-darker-blue: #021226;
$color-dark-blue: #021D40;
$color-softer-blue: #325573;
$color-soft-blue: #0B2D59;
$color-soft-yellow: #F2DC6B;
$color-soft-orange: #F2935C;
$color-soft-red: #F2594B;
$color-dark-red: #732509;


/* ======================Background====================== */
.bg-dark-blue {
  background-color: $color-dark-blue;
}

.bg-soft-blue {
  background-color: $color-soft-blue;
}

.bg-softer-blue {
  background-color: $color-softer-blue;
}

.bg-soft-yellow {
  background-color: $color-soft-yellow;
}

.bg-soft-red {
  background-color: $color-soft-red;
}

.bg-dark-red {
  background-color: $color-dark-red;
}

::-webkit-scrollbar {
  width: 10px;
  background: #30363d;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 17px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scroll-behavior: smooth;
}

main {
  margin: 0;
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  main {
    margin: auto;
  }


}

.rotate-logo:hover {
  i {
    transition: 0.2s ease;
    transform: rotate(360deg);
  }
}

.bold {
  font-weight: bold !important;
}

.shadow {
  box-shadow: 0px 9px 5px #0000003C !important;
}

.underline {
  margin-bottom: 18px !important;
  text-decoration: underline 4px lightgrey !important;
  text-underline-offset: 8px !important;
}

.no-link-decoration {
  i {
    text-decoration: none;
  }
}

.zoom {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.zoom:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

// IMAGES
.mainBg {
	height: 100vh;
	background: url("../img/home-bg.gif") no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
}

.sg-logo {
  display: inline-block;
  height: 35px;
  width: 35px;
  background: url("../img/sg-logo.png") no-repeat center;
  background-size: cover;
}

.axa-logo {
  display: inline-block;
  height: 35px;
  width: 35px;
  background: url("../img/axa-logo.png") no-repeat center;
  background-size: cover;
}

.sopra-logo {
  display: inline-block;
  height: 35px;
  width: 35px;
  background: url("../img/sopra-logo.png") no-repeat center;
  background-size: cover;
}