@import '../index.scss';

.a-footer-row {
    margin: auto;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 400px;
    padding-right: 400px;
}

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
    .a-footer-row {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Small devices (576px and up) */
@media only screen and (min-width: 576px) {
    .a-footer-row {
        padding-left: 100px;
        padding-right: 100px;
    }
}

/* Medium devices (768px and up) */
@media only screen and (min-width: 768px) {
    .a-footer-row {
        padding-left: 100px;
        padding-right: 100px;
    }
}

/* Large devices (992px and up) */
@media only screen and (min-width: 992px) {
    .a-footer-row {
        padding-left: 100px;
        padding-right: 100px;
    }
}

/* Extra Large devices (1200px and up) */
@media only screen and (min-width: 1200px) {
    .a-footer-row {
        padding-left: 200px;
        padding-right: 200px;
    }
}

/* Extra Large devices (1400px and up) */
@media only screen and (min-width: 1400px) {
    .a-footer-row {
        padding-left: 200px;
        padding-right: 200px;
    }
}

/* Extra Large devices (1500px and up) */
@media only screen and (min-width: 1500px) {
    .a-footer-row {
        padding-left: 400px;
        padding-right: 400px;
    }
}

/* Extra Large devices (1600px and up) */
@media only screen and (min-width: 1600px) {
    .a-footer-row {
        padding-left: 400px;
        padding-right: 400px;
    }
}