@import '../index.scss';

.a-paragraph {
    display: inline-block;
    color: white;
    
    text-align: justify;
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0px;
}

@media only screen and (max-width: 600px) {
    .a-paragraph {
        font-size: 16px;
    }
}