@import '../index.scss';

.contactView {
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;

    #entrepriseRow {
        margin: auto;
        padding-top: 80px;
    }

    #contactFormRow {
        margin: auto;
        padding-top: 120px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
    .contactView {
        height: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

/* Small devices (768px and down) */
@media only screen and (max-width: 768px) {
    .contactView {
        height: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

/* Medium devices (992px and down) */
@media only screen and (max-width: 992px) {
    .contactView {
        height: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

/* Large devices (1200px and down) */
@media only screen and (max-width: 1200px) {
    .contactView {
        height: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

/* Extra Large devices (1400px and down) */
@media only screen and (max-width: 1400px) {
    .contactView {
        height: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}