@import '../index.scss';

// IMAGES
.mainBg {
	height: 100vh;
	background: url("../../img/home-bg.gif") no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
}

.mainHeading {
    position: absolute; 
    top: 30%; 
    left: 20%; 
    right: 20%;
}

.secondHeading {
    position: absolute; 
    top: 70%; 
    left: 20%; 
    right: 20%;
}

@media only screen and (max-width: 600px) {
    .secondHeading {
        position: absolute; 
        top: 75%; 
        left: 20%; 
        right: 20%;
    }
}