@import '../index.scss';

.projectView {
    height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .projectView {
        height: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #projectRow {
        margin-top: 50px !important;
    }
}