@import '../index.scss';

.projectView {
    height: 100vh;
    padding-top: 150px;
    padding-bottom: 200px;
    padding-left: 300px;
    padding-right: 300px;
}

#projectRow {
    margin-top: 50px !important;
    margin-left: auto;
    margin-right: auto;
}

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
    .projectView {
        height: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 0;
        padding-right: 0;
    }

    #projectRow {
        margin-top: 50px !important;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Small devices (768px and down) */
@media only screen and (max-width: 768px) {
    .projectView {
        height: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 0;
        padding-right: 0;
    }

    #projectRow {
        margin-top: 50px !important;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Medium devices (992px and down) */
@media only screen and (max-width: 992px) {
    .projectView {
        height: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 0;
        padding-right: 0;
    }

    #projectRow {
        margin-top: 50px !important;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Large devices (1200px and down) */
@media only screen and (max-width: 1200px) {
    .projectView {
        height: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 0;
        padding-right: 0;
    }

    #projectRow {
        margin-top: 50px !important;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Extra Large devices (1400px and down) */
@media only screen and (max-width: 1400px) {
    .projectView {
        height: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 0;
        padding-right: 0;
    }

    #projectRow {
        margin-top: 50px !important;
        margin-left: auto;
        margin-right: auto;
    }
}