@import '../index.scss';

.skillView {
    height: 100vh;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 300px;
    padding-right: 300px;
}

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
    .skillView {
        height: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 0;
        padding-right: 0;
    }
}

/* Small devices (576px and up) */
@media only screen and (min-width: 576px) {
    .skillView {
        height: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 0;
        padding-right: 0;
    }
}

/* Medium devices (768px and up) */
@media only screen and (min-width: 768px) {
    .skillView {
        height: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 0;
        padding-right: 0;
    }
}

/* Large devices (992px and up) */
@media only screen and (min-width: 992px) {
    .skillView {
        height: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 0;
        padding-right: 0;
    }
}

/* Extra Large devices (1200px and up) */
@media only screen and (min-width: 1200px) {
    .skillView {
        height: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 0;
        padding-right: 0;
    }
}

/* Extra Large devices (1400px and up) */
@media only screen and (min-width: 1400px) {
    .skillView {
        height: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 200px;
        padding-right: 200px;
    }
}

/* Extra Large devices (1500px and up) */
@media only screen and (min-width: 1500px) {
    .skillView {
        height: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 200px;
        padding-right: 200px;
    }
}

/* Extra Large devices (1600px and up) */
@media only screen and (min-width: 1600px) {
    .skillView {
        height: 100vh;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 300px;
        padding-right: 300px;
    }
}